<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <%- include("header") %>

        <% if (locals.error) { %>
            <div class="centered">
                <%= error %>
            </div>

            <% } else { %>
                <div class="centered">
                    <div id="weatherDataCard">
                        <div class="mainWeatherInfo">
                            <div class="mainInfo_header">
                                <h3 class="location">
                                    <%= location %>
                                </h3>
                                <span class="time">
                                    Local time: <%= time %>
                                </span>
                            </div>
                            <div class="icon_temp_container">
                                <img src=<%=weather_icons[0] %> >
                                <span class="temperature">
                                    <%= temperature %> °C
                                </span>
                            </div>
                            <div class="weatherDescription">
                                <%= weather_descriptions[0] %>
                            </div>
                        </div>
                        <div class="weatherDetails">
                            <div class="details_row">
                                <span>Feels Like</span>
                                <span>
                                    <%= feelslike %>
                                </span>
                            </div>
                            <div class="details_row">
                                <span>Wind</span>
                                <span>
                                    <%= wind_dir %>

                                        <%=wind_speed %> km/h
                                </span>
                            </div>
                            <div class="details_row">
                                <span>UV Index</span>
                                <span>
                                    <%= uv_index %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                    <%- include("footer") %>

</body>

</html>